html{
    scroll-snap-type: y mandatory;
}
.app{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: black;
  }
.appLogo {
    height: 12vh;
}
.appTop > h1 {
    text-align: center;
    color: rgb(248, 242, 242);
}
.appVideos {
    position: relative;
    height: 65vh;
    background-color: white;
    width: 70%;
    border-radius: 20px;
    max-width: 450px;
    max-height: 1200px;
    overflow:scroll;
    scroll-snap-type: y mandatory;
}
/** Hide scroll bar */
.appVideos::-webkit-scrollbar {
    display: none;
}
.appVideos {
    -ms-overflow-style: none;
    scrollbar-width: none;
}